html {
  scroll-behavior: smooth;
}
/* Сброс и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Заголовки */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0 10px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/* Контейнер */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Шапка */
.header {
    display: none;
    height: 84px;
    background: #fff;
    position: relative;
}

/* Основной контент */
.content {
    padding: 50px 0;
    background: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

.text-block {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: justify;
}

.text-block p {
    margin-bottom: 20px;
}

/* Карта */
.map-container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.map-container iframe {
    width: 100%;
    height: 660px;
    border: none;
}

/* Легенда карты */
.legend {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 800px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.legend h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 3px;
}

.red { background-color: #fb0000; }
.orange { background-color: #ff8900; }
.green { background-color: #00c915; }

/* Футер */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.footer a {
  color: white;
  text-decoration: underline;
}

/* Адаптивность */
@media (max-width: 768px) {
    .text-block {
        font-size: 16px;
        padding: 0 15px;
    }
    
    .map-container iframe {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .map-container iframe {
        height: 300px;
    }
}
